<form [formGroup]="formulario" (ngSubmit)="enviar()">

    <div class="campo">

        <label>Nombre</label>

        <input
            type="text"
            formControlName="nombre">

    </div>

    <div class="campo">

        <label>Apellido</label>

        <input
            type="text"
            formControlName="apellido">

    </div>

    <div class="campo">

        <label>Correo</label>

        <input
            type="email"
            formControlName="correo">

    </div>

    <div class="campo">

        <label>Teléfono</label>

        <input
            type="text"
            formControlName="telefono">

    </div>

    <div class="campo">

        <label>Estado</label>

        <select formControlName="estado">

            <option value="Pendiente">Pendiente</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>

        </select>

    </div>

    @if (modo() === 'editar') {

        <button
            class="btn-guardar"
            type="submit">

            Guardar

        </button>

    }

</form>