<div class="login-page">

  <div class="login-visual">
    <div class="visual-grid"></div>
    <div class="visual-content">
<img
        src="assets/images/login-fitness.png"
        alt="Fitness">      <h2>Cada repetición <span>cuenta</span>.</h2>
      <p>Controla tus rutinas, tus atletas y el rendimiento del gimnasio desde un solo panel.</p>
    </div>
  </div>

  <div class="login-card">
      <div class="login-header">
          <h1>🏋️ Fitness System</h1>
          <p>Panel de Administración</p>
      </div>
      <form [formGroup]="loginForm"
            (ngSubmit)="iniciarSesion()">
          <div class="form-group">
              <label>Correo electrónico</label>
              <input
                  type="email"
                  formControlName="correo"
                  placeholder="admin@fitness.com">
              @if (loginForm.get('correo')?.touched && loginForm.get('correo')?.invalid) {
                  <small>
                      @if (loginForm.get('correo')?.errors?.['required']) {
                          El correo es obligatorio.
                      }
                      @if (loginForm.get('correo')?.errors?.['email']) {
                          Correo inválido.
                      }
                  </small>
              }
          </div>
          <div class="form-group">
              <label>Contraseña</label>
              <input
                  type="password"
                  formControlName="password"
                  placeholder="********">
              @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                  <small>
                      @if (loginForm.get('password')?.errors?.['required']) {
                          La contraseña es obligatoria.
                      }
                      @if (loginForm.get('password')?.errors?.['minlength']) {
                          Debe tener mínimo 6 caracteres.
                      }
                  </small>
              }
          </div>
          <button type="submit">
              Iniciar sesión
          </button>
      </form>
      <div class="login-footer">
          <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
  </div>

</div>